@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-body;
        @apply text-shark-300;
    }

    body {
        @apply bg-shark-900;
        @apply min-h-screen;
    }
}

#menu {
    transform: translateX(100%);
    transition: transform 0.2s ease;

    @media only screen and (min-width: 1024px) {
        transform: translateX(0%);
    }
}

#menu.open {
    transform: translateX(0%);
    overflow-y: hidden;
}
