@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;

@layer base {
    * {
        @apply font-body text-shark-300;
    }

    body {
        @apply min-h-screen bg-shark-900;
    }

    #menu {
        transform: translateX(100%);
        transition: transform 0.2s ease;

        @media only screen and (min-width: 1024px) {
            transform: translateX(0%);
        }
    }

    #menu.open {
        transform: translateX(0%);
        overflow-y: hidden;
    }

    #menu a,
    #social a {
        @apply relative;
    }

    #menu a:hover::after {
        content: attr(aria-label);
        @apply animate-fadeIn absolute left-12 whitespace-nowrap rounded bg-shark-200 px-2 py-1 text-xs font-semibold text-shark-900;
    }

    #social a:hover::after {
        content: attr(aria-label);
        @apply animate-fadeIn absolute -bottom-9 left-2/4 -translate-x-1/2 whitespace-nowrap rounded bg-shark-200 px-2 py-1 text-xs font-semibold text-shark-900;
    }
}

@tailwind utilities;
