@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;

@layer base {
    * {
        @apply text-theme-300 font-body;
    }

    body {
        @apply bg-theme-900 min-h-screen;
    }

    #menu {
        transform: translateX(100%);
        transition: transform 0.2s ease;

        @media only screen and (min-width: 1024px) {
            transform: translateX(0%);
        }
    }

    #menu.open {
        transform: translateX(0%);
        overflow-y: hidden;
    }

    #menu a,
    #social a {
        @apply relative;
    }

    #menu a:hover::after {
        content: attr(aria-label);
        @apply animate-fadeIn bg-theme-200 text-theme-900 absolute left-12 whitespace-nowrap rounded px-2 py-1 text-xs font-semibold;
    }

    #social a:hover::after {
        content: attr(aria-label);
        @apply animate-fadeIn bg-theme-200 text-theme-900 absolute -bottom-9 left-2/4 -translate-x-1/2 whitespace-nowrap rounded px-2 py-1 text-xs font-semibold;
    }
}

@tailwind utilities;
